@page "/employee"
@inherits EmployeeListBase

@attribute [Authorize]

<h3 class="mt-2 text-primary border-bottom">Selected Employees Count : @EmployeeSelectedCount</h3>

<div class="row">
    <div class="col-8">
        <input type="checkbox" id="showFooter" @bind="ShowFooter" />
        <label for="showFooter">Show Footer</label>
    </div>
    <div class="col-4" style="margin-left:-20px;">
        <a href="/editemployee" class="btn btn-primary rounded-pill px-3 float-end">Add New Employee</a>
    </div>
</div>

@if (Employees is null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 mt-3">

        @foreach (var employees in Employees)
        {
           <DisplayEmployee Employee="employees" ShowFooter="ShowFooter" 
                            OnEmployeeSelection="EmployeeSelected"
                            OnEmployeeDeleted="EmployeeDeleted">
           </DisplayEmployee>
        }

    </div>
}
